/* src/modules/future-perfect-continuous/past-theme.css
   Future Perfect Continuous theme (ACCENTS ONLY)
*/

.future-perfect-continuous-theme {
  --tense-time: var(--lex-time-past);
  --tense-aspect: var(--lex-aspect-simple);

  --tense-stripe-gradient: linear-gradient(
    90deg,
    var(--tense-time),
    var(--tense-aspect)
  );
}
