/* src/modules/present-simple/ps-theme.css
   Present Simple theme (ACCENTS ONLY)
*/

.present-simple-theme {
  --tense-time: var(--lex-time-present);
  --tense-aspect: var(--lex-aspect-simple);

  --tense-stripe-gradient: linear-gradient(
    90deg,
    var(--tense-time),
    var(--tense-aspect)
  );
}
