/* src/modules/past-simple/past-theme.css
   Past Simple theme (ACCENTS ONLY)
*/

.past-simple-theme {
  --tense-time: var(--lex-time-past);
  --tense-aspect: var(--lex-aspect-simple);

  --tense-stripe-gradient: linear-gradient(
    90deg,
    var(--tense-time),
    var(--tense-aspect)
  );
}
